#produkte {
    width: 45%;
    float:left;
}
#einkaufswagen {
    width: 45%;
    clear: both;
    top: 2%;
}
body{
    background-color: rgb(31, 158, 243);
    font-family: "Bahnschrift", "Ubuntu", sans-serif;
}