#score {
    font-size: 2em;
    position: fixed;
    top: 50%;
    right: 50%;

}

#resdiv{
    
    bottom:30%;
    right:25%;
}
body {
    width: 100%;
    background-color: rgb(31, 158, 243);
    font-family: "Bahnschrift", "Ubuntu", sans-serif;
}