#score {
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: 50%;

}
#gameframe{
    position: fixed;
}
#endscore {
    position: fixed;
    top: 0px;
    width: 1900px;
    height: 1000px;
    
}
#savescore {
    position: fixed;
    bottom: 20%;
    right: 20%;
}
body {
    background-color: rgb(31, 158, 243);
    font-family: "Bahnschrift", "Ubuntu", sans-serif;
}