#produkte {
    width: 45%;
    float:left;
}
#einkaufswagen {
    width: 45%;
    position: fixed;
    top: 2%;
}
body{
    background-color: hotpink;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}