
@media only screen and (max-width: 768px) {
  #stacking {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 65px;
    height: 120px;
    border-radius: 6px;
    border-style:  solid black;
    max-width: 25%;
  }
  
  #deck {
    position: absolute;
    right :25px;
    top :25px;
    width: 65px;
    height: 120px;
    border-radius: 6px;
    
  }
  #deck > img {
    width: 65px;
    height: 120px;
  }
  #hand {
    position: absolute;
    bottom: 1%;
    width: 100%;
  }
  #hand>div {

    float: left;
    right: 15%;
    width: 65px;
    height: 120px;
    border-radius: 4px;
    font-Size: 3em;
    text-Align: center;

}
}
@media only screen and (min-width: 768px) {
#stacking {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 128px;
  height: 200px;
  border-radius: 6px;
  border-style:  thin solid black;
  max-width: 25%;
  background-color: #ff99cc;
}

#deck {
  position: absolute;
  max-width: 128px;
  max-height: 200px;
  top: 25px;
  right: 25px;
  border-radius: 6px;
  max-width: 25%;
}
#deck > img {
  max-width: 128px;
  max-height: 200px;
}

#hand {
  position: absolute;
  bottom: 2%;
  width: 95%;
  height: 205px;
  margin-left: 2.5%;
  margin-right: 2.5%;

}

#hand>div {

  float: left;
  right: 15%;
  width: 128px;
  height: 200px;
  border-radius: 4px;
  font-Size: 3.5em;
  text-Align: center;

}

#hand>canvas {

  float: left;
  right: 15%;
  width: 128px;
  height: 200px;
  border-radius: 4px;
  font-Size: 1.7 em;
  text-Align: center;

}


 

}